In [90]:
%matplotlib notebook
%reset -f


import pandas as pd
import numpy as np
from scipy.stats import norm, probplot
import statsmodels.api as sm
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

In [91]:
dados= pd.read_csv('suicide_.csv')
dados.head(40)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
5,Albania,1987,female,75+ years,1,35600,2.81,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
6,Albania,1987,female,35-54 years,6,278800,2.15,Albania1987,NaN,"2,156,624,900",796,Silent
7,Albania,1987,female,25-34 years,4,257200,1.56,Albania1987,NaN,"2,156,624,900",796,Boomers
8,Albania,1987,male,55-74 years,1,137500,0.73,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
9,Albania,1987,female,5-14 years,0,311000,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
10,Albania,1987,female,55-74 years,0,144600,0.00,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
11,Albania,1987,male,5-14 years,0,338200,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
12,Albania,1988,female,75+ years,2,36400,5.49,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
13,Albania,1988,male,15-24 years,17,319200,5.33,Albania1988,NaN,"2,126,000,000",769,Generation X
14,Albania,1988,male,75+ years,1,22300,4.48,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
15,Albania,1988,male,35-54 years,14,314100,4.46,Albania1988,NaN,"2,126,000,000",769,Silent
16,Albania,1988,male,55-74 years,4,140200,2.85,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
17,Albania,1988,female,15-24 years,8,295600,2.71,Albania1988,NaN,"2,126,000,000",769,Generation X
18,Albania,1988,female,55-74 years,3,147500,2.03,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
19,Albania,1988,female,25-34 years,5,262400,1.91,Albania1988,NaN,"2,126,000,000",769,Boomers
20,Albania,1988,male,25-34 years,5,279900,1.79,Albania1988,NaN,"2,126,000,000",769,Boomers
21,Albania,1988,female,35-54 years,4,284500,1.41,Albania1988,NaN,"2,126,000,000",769,Silent
22,Albania,1988,female,5-14 years,0,317200,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
23,Albania,1988,male,5-14 years,0,345000,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
24,Albania,1989,male,75+ years,2,22500,8.89,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
25,Albania,1989,male,25-34 years,18,283600,6.35,Albania1989,NaN,"2,335,124,988",833,Boomers
26,Albania,1989,male,35-54 years,15,318400,4.71,Albania1989,NaN,"2,335,124,988",833,Silent
27,Albania,1989,male,55-74 years,6,142100,4.22,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
28,Albania,1989,male,15-24 years,12,323500,3.71,Albania1989,NaN,"2,335,124,988",833,Generation X
29,Albania,1989,female,35-54 years,7,288600,2.43,Albania1989,NaN,"2,335,124,988",833,Silent
30,Albania,1989,female,15-24 years,5,299900,1.67,Albania1989,NaN,"2,335,124,988",833,Generation X
31,Albania,1989,female,25-34 years,2,266300,0.75,Albania1989,NaN,"2,335,124,988",833,Boomers
32,Albania,1989,female,55-74 years,1,149600,0.67,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
33,Albania,1989,female,5-14 years,0,321900,0.00,Albania1989,NaN,"2,335,124,988",833,Generation X
34,Albania,1989,female,75+ years,0,37000,0.00,Albania1989,NaN,"2,335,124,988",833,G.I. Generation
35,Albania,1989,male,5-14 years,0,349700,0.00,Albania1989,NaN,"2,335,124,988",833,Generation X
36,Albania,1992,male,35-54 years,12,343800,3.49,Albania1992,NaN,"709,452,584",251,Boomers
37,Albania,1992,male,15-24 years,9,263700,3.41,Albania1992,NaN,"709,452,584",251,Generation X
38,Albania,1992,male,55-74 years,5,159500,3.13,Albania1992,NaN,"709,452,584",251,Silent
39,Albania,1992,male,25-34 years,7,245500,2.85,Albania1992,NaN,"709,452,584",251,Boomers

In [92]:
def regress(X,Y):
    '''
    X: coluna(s) do DataFrame que serão utilizadas como variável(is) preditoras/explicativas (independente(s))
    Y: coluna do DataFrame que será utilizada como variável resposta (dependente)
    '''
    X_cp = sm.add_constant(X)
    model = sm.OLS(Y,X_cp)
    results = model.fit()
    return results
df = dados[[ 'year', 'sex', 'age','suicides/100k pop', 'population','HDI for year',
'gdp_per_capita ($)']].dropna()

In [93]:
df.describe()

,year,suicides/100k pop,population,HDI for year,gdp_per_capita ($)
count,8364.000000,8364.000000,8.364000e+03,8364.000000,8364.000000
mean,2005.348637,11.991936,1.852173e+06,0.776601,21074.371593
std,8.803020,17.361772,3.969754e+06,0.093367,22579.186968
min,1985.000000,0.000000,8.750000e+02,0.483000,313.000000
25%,2000.000000,1.040000,1.216425e+05,0.713000,4862.000000
50%,2010.000000,5.720000,4.722505e+05,0.779000,12584.000000
75%,2012.000000,15.442500,1.500290e+06,0.855000,30271.000000
max,2014.000000,187.060000,4.350934e+07,0.944000,126352.000000

In [94]:
df.loc[df.sex == 'male', 'sex'] = 1
df.loc[df.sex == 'female', 'sex'] = 0
df.sex = df.sex.astype('int')
df.head()

,year,sex,age,suicides/100k pop,population,HDI for year,gdp_per_capita ($)
72,1995,1,25-34 years,5.58,232900,0.619,835
73,1995,1,55-74 years,5.06,178000,0.619,835
74,1995,0,75+ years,4.90,40800,0.619,835
75,1995,0,15-24 years,4.59,283500,0.619,835
76,1995,1,15-24 years,4.56,241200,0.619,835

In [95]:
X = df[[ 'sex', 'year', 'population','HDI for year',
'gdp_per_capita ($)']]
X = X.join(pd.get_dummies(df['age']))
X.head()
Y = df['suicides/100k pop']
results = regress(X,Y)
results.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:      suicides/100k pop   R-squared:                       0.332
Model:                            OLS   Adj. R-squared:                  0.331
Method:                 Least Squares   F-statistic:                     415.6
Date:                Thu, 28 May 2020   Prob (F-statistic):               0.00
Time:                        13:30:57   Log-Likelihood:                -34052.
No. Observations:                8364   AIC:                         6.813e+04
Df Residuals:                    8353   BIC:                         6.820e+04
Df Model:                          10
Covariance Type:            nonrobust
======================================================================================
                         coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                382.3632     32.270     11.849      0.000     319.107     445.620
sex                   14.1047      0.310     45.432      0.000      13.496      14.713
year                  -0.2353      0.019    -12.392      0.000      -0.273      -0.198
population          -6.56e-08   4.01e-08     -1.638      0.102   -1.44e-07    1.29e-08
HDI for year          42.7363      2.691     15.884      0.000      37.462      48.010
gdp_per_capita ($)    -0.0001   1.08e-05    -10.173      0.000      -0.000   -8.87e-05
15-24 years           60.3856      5.389     11.204      0.000      49.821      70.950
25-34 years           63.1992      5.389     11.727      0.000      52.635      73.764
35-54 years           65.9349      5.392     12.227      0.000      55.364      76.505
5-14 years            52.3585      5.389      9.715      0.000      41.794      62.923
55-74 years           66.8857      5.390     12.410      0.000      56.321      77.451
75+ years             73.5993      5.387     13.662      0.000      63.039      84.159
==============================================================================
Omnibus:                     4927.229   Durbin-Watson:                   0.972
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            67733.163
Skew:                           2.576   Prob(JB):                         0.00
Kurtosis:                      15.954   Cond. No.                     3.15e+22
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.62e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.
"""